.main{
    display: flex;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(1,1,1,0.5),
    5px 5px 5px rgb(1,1,1,0.5);
    position: absolute;
    justify-content: center;
    margin: 20px auto;
    /* margin-left: 190px; */
    left: 35%;
}

.body{
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    justify-content: center;
    margin: 20px auto;
    width: 250px;
    height: 300px;


}